body ::-webkit-scrollbar{ 
    background-color: slategray;
    border-radius: 10px;
    width: 5px;
}
.horizontal-scroll-wrapper::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.horizontal-scroll-wrapper::-webkit-scrollbar-thumb{
    background-color: dodgerblue;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.horizontal-scroll-wrapper {
    display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.horizontal-scroll-wrapper > div {
  width: 400px;
  height: auto;
}